<div class="container mt-4">
  <h1 class="text-center">C'est nous l'équipe !</h1>
  <div class="row">
      <!-- Membre 1 : Louis -->
      <div class="col-md-4 d-flex align-items-stretch">
        <div class="card mb-4 flex-column">
          <img src="/images/louis.jpg" class="card-img-top" alt="Louis">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Louis</h5>
            <p class="card-text flex-grow-1">Description ou citation de Louis.</p>
          </div>
        </div>
      </div>
      <!-- Membre 2 : Lala -->
      <div class="col-md-4 d-flex align-items-stretch">
        <div class="card mb-4 flex-column">
          <img src="/images/lala.jpg" class="card-img-top" alt="Lala">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Lala</h5>
            <p class="card-text flex-grow-1">Description ou citation de Lala.</p>
          </div>
        </div>
      </div>
      <!-- Membre 3 : Mathieu -->
      <div class="col-md-4 d-flex align-items-stretch">
        <div class="card mb-4 flex-column">
          <img src="/images/mathieu.jpg" class="card-img-top" alt="Mathieu">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Mathieu</h5>
            <p class="card-text flex-grow-1">Description ou citation de Mathieu.</p>
          </div>
        </div>
      </div>
      <!-- Membre 4 : Flo -->
      <div class="col-md-4 d-flex align-items-stretch">
        <div class="card mb-4 flex-column">
          <img src="/images/flo.jpg" class="card-img-top" alt="Flo">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Flo</h5>
            <p class="card-text flex-grow-1">Description ou citation de Flo.</p>
          </div>
        </div>
      </div>
      <!-- Membre 5 : Robin -->

      <div class="col-md-4 d-flex align-items-stretch">
        <div class="card mb-4 flex-column">
          <img src="/images/robin.jpg" class="card-img-top" alt="Robin">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Robin Potin Couffin</h5>
            <p class="card-text flex-grow-1">"A vrai dire. C'est à dire que j'ai si peu à dire."</p>
          </div>
        </div>
      </div>
    </div>
  </div>
