<!-- carts/show.html.erb -->
<h1>Votre Panier</h1>
<% if @cart_items.any? %>
  <ul>
    <% @cart_items.each do |cart_item| %>
      <li>
        <%= cart_item.item.title %> - <%= cart_item.quantity %>
        <%= button_to 'Retirer', remove_item_cart_path(item_id: cart_item.item.id), remote: true, method: :delete, form_class: "form-inline", class: "btn btn-dark btn-lg add-to-cart", data: { item_id: cart_item.item.id } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Dommage, votre panier est vide !</p>
  <p>Allez vite le remplir, on se retrouve après.</p>
<% end %>
